.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/tstp_content.main.iml
.idea/modules/tstp_content.test.iml
.idea/runConfigurations/runClient.xml
.idea/runConfigurations/runServer.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.settings/org.eclipse.jdt.core.prefs
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/tstp_content.main.iml
.idea/modules/tstp_content.test.iml
.idea/runConfigurations/runClient.xml
.idea/runConfigurations/runServer.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.settings/org.eclipse.jdt.core.prefs
/.gradle/
.idea/gradle.xml
.idea/modules.xml
.idea/modules/tstp-content.main.iml
.idea/modules/tstp-content.test.iml
.idea/runConfigurations/runClient.xml
.idea/runConfigurations/runServer.xml
/build/
/run/
.gradle/7.5/checksums/checksums.lock
.gradle/7.5/checksums/md5-checksums.bin
.gradle/7.5/checksums/sha1-checksums.bin
.gradle/7.5/executionHistory/executionHistory.bin
.gradle/7.5/executionHistory/executionHistory.lock
.gradle/7.5/fileHashes/fileHashes.bin
.gradle/7.5/fileHashes/fileHashes.lock
.gradle/7.5/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.idea/compiler.xml
.idea/modules/tstp_content.main.iml
.idea/runConfigurations/runClient.xml
.idea/runConfigurations/runServer.xml
run/logs/debug-1.log.gz
run/logs/debug-2.log.gz
run/logs/debug-3.log.gz
run/logs/debug-4.log.gz
run/logs/debug-5.log.gz
run/logs/debug.log
run/logs/latest.log
run/options.txt
